div {
  width: 400px;
  background-color: aqua;
  padding: 16px;
  border: 4px solid black;
  margin-bottom: 32px;
}

.first-block {
  /* padding: всі сторони; */
  padding: 10px;
  
  /* padding: верх-низ ліво-право; */
  padding: 10px 20px;
  
  /* padding: верх ліво-право низ; */
  padding: 10px 20px 30px;
  
  /* padding: верх право низ ліво; */
  padding: 10px 20px 30px 40px;
}

.blockquote {
  width: fit-content;
  background: #d2f7ff; /* Колір фону */
  padding: 10px; /* Поля навколо тексту */
  border-left: 2px solid #0069b5; /* Параметри лінії */
  margin-top: 32px;
}